<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Application>毕升Office/0.0.0.0</Application><Company></Company><DocSecurity>0</DocSecurity><HyperlinkBase></HyperlinkBase><HyperlinksChanged>false</HyperlinksChanged><LinksUpToDate>false</LinksUpToDate><Manager></Manager><ScaleCrop>false</ScaleCrop><SharedDoc>false</SharedDoc><Template>Normal.dotm</Template></Properties>